{
  "importOrder": null,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "avoid"
}
